<div class="bg-white container-fluid w-100 pb-5 contact">
    <div class="container bg-white pt-4">
        <h1>Contact</h1>
        <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nihil officia, voluptatum
            necessitatibus sequi facere ipsa nostrum exercitationem quam fuga, dicta repellat sint et iusto? Iusto
            maiores officiis aliquid.</p>
        <div class="bg-light container pb-5 mb-3 w-75 border">
            <form id="contact-form">
                <div class="pt-2">
                    <label class="col-2 offset-3"><strong>Your E-mail</strong></label>
                    <input class="col-6" type="email" name="E-mail" placeholder="Your E-mail">
                </div>
                <div class="pt-3">
                    <label class="col-2 offset-3 align-self-end move"><strong>Your message</strong></label>
                    <textarea class="col-6" type="email" placeholder="Please enter your message here..."></textarea>
                </div>
                <input class="bg-primary offset-10 border-0 button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>