<!-- your html code here -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navegador">
    <div class="navbar-nav">
       <a class="nav-item nav-link" href="#">Start Bootstrap</a>
       <a class="nav-item nav-link" href="../index.html">About</a>
       <a class="nav-item nav-link" href="templates/services.html">Services</a>
       <a class="nav-item nav-link" href="templates/portfolio.html">Portfolio</a>
       <a class="nav-item nav-link" href="templates/contact.html">Contact</a>
    </div>
 </div>
</nav>