<div class="container-fluid bg-white">
<div class="container">
  <hr class="m-0 mb-4">
    <div class="row">
        <h1>Portafolio</h1>
        <p class="fs-3">Dunec ullamcorper nulla non metus fringuilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac commodo.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="../../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> <a class="text-decoration-none" href="#">Project Name</a></h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae illo necessitatibus ipsa cumque, facilis possimus! Obcaecati, fugit possimus quae magni magnam animi dolore, sapiente reprehenderit, id quos vero consectetur. Labore!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> <a class="text-decoration-none" href="#">Project Name</a></h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores est provident fugit? Possimus maxime fugit consectetur obcaecati illum neque minus eaque laborum saepe sapiente ab error, nemo praesentium repellendus?.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> <a class="text-decoration-none" href="#">Project Name</a></h5>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga ex doloremque possimus corporis a ipsam excepturi, nam aliquam? Dicta nam id magni sequi labore voluptas, dolorem laudantium exercitationem aut doloribus?</p>
                </div>
              </div>
            </div>
            
          </div>

        

        
    </div>

<hr class="mb-5 mt-5">
</div>
</div>